{
        "plugins": [
            [
                "transform-runtime",
                {
                    "regenerator": true
                }
            ]
        ],
    "presets": ["env", "react"]

}